<?php
/**
 * @var \Magestore\FAQ\Block\Search\SearchForm $block
 */
$questions = $block->getDetail();
?>
<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>
<h2>Question Search</h2>

<?php foreach ($questions as $question): ?>
    <button class="accordion"><?php echo $question['faqs_question'] ?></button>
    <div class="panel">
        <p><?php echo $question['faqs_answer'] ?></p>
    </div>
<?php endforeach; ?>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
