<?php
/**
 * @var \Magestore\FAQ\Block\Category\CategorySidebar $block
 */
$categories = $block->getAllCategory();
?>
<div>
    <?php foreach ($categories as $category): ?>
        <div>
            <a href=" <?php echo $block->getBaseUrl().'faq/category/view/category_id/'.$category['category_id']?>" >
                    <?php echo $category['name']; ?>
                    <span>(<?php echo $category['number'];?>)</span>
            </a>

        </div>
    <?php endforeach; ?>
</div>
