<style>
    .form{
        display: flex;
    }
    .field{
        flex: 1;
    }
</style>
<div class="faq-search-form">
    <div class="content">
        <form class="form"
                      action="<?php /* @escapeNotVerified */ echo "/faq/category/search/"; ?>"
                      id="faq_search_form"
                      method="get">
        <div class="field">
            <div class="control">
                <input name="s" type="text" id="text-search" placeholder="<?php echo __('Search Frequently Asked Question'); ?>" data-validate="{required:true}"">
            </div>
        </div>
        <div class="actions">
            <button class="action primary" title="<?php echo __('Search');?>" type="submit">
                <span><?php echo __('Search');?></span>
            </button>
        </div>
        </form>
    </div>
</div>
