<?php
/**
 * @var \Magestore\FAQ\Block\Faq\Faq $block
 */
$categories = $block->getAllCategory();
?>

<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    img {
        width="400"!important;
        height="500"!important;
        object-fit: fill;

    },
    .category-itemm {
        width: 20% !important;
    }
</style>
<h3 style="color: dodgerblue">WELCOME TO OUR SUPPORT PORTAL</h3>
<div class="wrapper">
    <?php foreach ($categories as $category): ?>
        <div class="category-itemm" style="width: 20%">
            <a href=" <?php echo $block->getBaseUrl().'faq/category/view/category_id/'.$category['category_id']?>" >
                <button class="wrapper-item">
                    <img src="<?php echo !empty($category['image']) ? $block->getBaseUrl().'media/category/images/'.$category['image'] : 1 ?>" alt="fff"/>
                    <?= $category['name']; ?>
                </button>
            </a>
        </div>
    <?php endforeach; ?>
</div>

